html,
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.rr-title {
  font-size: 20px;
  color: #c89b3c;
  font-weight: bold;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  margin: 0;
}

header {
  background: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  flex-grow: 1; /* This makes content fill the remaining space */
  padding: 1rem;
}

footer {
  background: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

h1,
h2,
h3 {
  color: #c89b3c;
  font-weight: bold;
}

.mantine-Button-root {
  background-color: #005a82;
  color: #c89b3c;
}
